<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dusicInfo</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <!-- Bootswach CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/state.css') }}">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('index') }}">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('posts') }}">Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('new_post') }}">+ New post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('new_category') }}" data-bs-toggle="modal" data-bs-target="#new_category">+ New category</a>
                <!--New category Modal -->
        <div class="modal fade" id="new_category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content p-3">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add new category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- form -->
                <form action="{{ url_for('new_category') }}" method="post">
                  
                    <div class="form-group mb-3">
                    <label for="name">Name: </label>
                    <input type="text" class="form-control" name="name" required="1">
                  </div>
                  <!-- Submit button -->
                  <div class="d-grid gap-2">
                    <button class="btn btn-primary mt-3" type="submit">Create category</button>
                  </div>
                  <!-- Submit button -->
                </form>
                <!-- form -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
          </div>
          <!--New category Modal -->
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Separated link</a>
                </div>
              </li>
              {% else %}
              {% endif %}
            </ul>
            <!-- Right nav -->
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user') }}">{{ current_user.username }}</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
              </li>
            {% endif %}
            </ul>
            <!-- Right nav -->
            <form class="d-flex">
              <input class="form-control me-sm-2" type="search" placeholder="Search">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            
          </div>
        </div>
      </nav>
    <!-- Navbar -->
    <div class="container" style="min-height: calc(100vh - 130px)">
      <!-- Frashes and alerts -->
      <div class="row">
      <div class="col">

          {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
          {% for category, message in messages %}
          {% if category ==
              'error' %}
          <div class="alert alert-dismissible alert-danger mt-3">
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <strong>Error</strong> {{ message }}
            </div>
            {% else %}
            <div class="alert alert-dismissible alert-success mt-3">
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
              <strong></strong> {{ message }}
            </div>
            {% endif %}
          {% endfor %}
          {% endif %}
          {% endwith %}
      </div>
      </div>
      <!-- Frashes and alerts -->
      {% block context %}
      {% endblock %}
  </div>
    {% include 'footer.html' %}

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>