{% extends 'base.html' %}

{% block context %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-1 my-5 text-info">{{ current_user.username }}</h1>
            <!-- Big card -->
            <div class="card mb-3">
              <h3 class="card-header">Card header</h3>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <div class="card-image">
                  <image src="{{url_for('static',filename = 'images/ban3.jpg')}}" width="100%" >
                  </div>
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Number of posts: {{ posts|count }}</li>
                  <li class="list-group-item">Number of comments: {{ current_user.comments|count }}</li>
                  <li class="list-group-item">Liked posts: {{ current_user.likes|count }}</li>
                  <li class="list-group-item">Number of likes:</li>
                  <li class="list-group-item">Number of following chanels</li>
                  <li class="list-group-item">Number of followers</li>
                </ul>
                <div class="card-body">
                  <div class="btn-group ms-auto" role="group" aria-label="Basic example">
                  <a href="#" class="btn btn-warning">Update profile</a>
                  <a href="{{ url_for('delete_account') }}" class="btn btn-danger" onClick="return confirm('Are you sure you want to delete account!')">Delete profile</a>
                  </div>
                </div>
                <div class="card-footer text-muted">
                  Joined at: {{ current_user.joined_at.strftime('%d. %B. %Y.') }}
                </div>
              </div>
              <!-- Big card -->
        </div>
    </div>
</div>
<div class="container">
  <h2 class="header-2">My post's</h2>
  <div class="row mt-5">
      {% for post in posts %}
      <div class="col-md-6 col-lg-4">
          <!-- Card -->
          <a href="{{ url_for('post_details', post_id=post.id) }}" style="text-decoration: none;">
              <div class="card border-primary mb-4" style="min-height: 350px;">
                  <div class="card-header">by {{ post.author.username }}</div>
                  <div class="card-body">
                      <h4 class="card-title">{{ post.title }}</h4>
                      <p class="card-text" style="min-height: 165px;">{{ post.content }}</p>
                      <!-- Update/delete -->
                      <div class="d-flex">
                        <a href="{{ url_for('like_post', post_id=post.id, page='user') }}" class="card-text" style="text-decoration: none;"><i class="bi bi-star"></i> {{ post.likes|count }}</br>
                          <div class="btn-group ms-auto" role="group" aria-label="Basic example">
                          <a href="{{ url_for('update_post', post_id=post.id, page='user') }}" class="btn btn-sm btn-warning">Update</a>
                          <a href="{{ url_for('delete_post', post_id=post.id) }}" class="btn btn-sm btn-danger" onClick="return confirm('Are you sure!')">Delete</a>
                          </div>
                    </div>
                    <!-- Update/delete -->
                  </div>
                  <div class="card-footer text-muted">
                    Created at: {{ post.created_at.strftime('%d. %b. %Y.') }}
                  </div>
              </div>
          </a>
          <!-- Card -->
  </div>
      {% endfor %}
</div>
</div>
{% endblock %}

